/* src/components/MainButton.css */

.main-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgb(175, 83, 255), rgb(110, 172, 254));
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s;
  z-index: 1000; /* Убедитесь, что кнопка находится поверх других элементов */
}

.main-button:hover {
  opacity: 0.9;
}

.main-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
